# hk-aws-web.service
[Unit]
Description=File media browser and frontend for Hikvision AWS Toolkit
After=network.target remote-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/hk-aws-tool.py -c /etc/hkawstoolkit/config.yaml -a web
Restart=on-failure
RestartSec=60s
StartLimitIntervalSec=60
StartLimitBurst=2
NotifyAccess=all
User=rpavlyuk
WorkingDirectory=/usr/share/hkawstoolkit/web

[Install]
WantedBy=multi-user.target
